*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}


::-webkit-scrollbar {
  background: $dark;
  width: 0.4rem;
}

::-webkit-scrollbar-thumb {
  background: $red;
  border-radius: 30px 0 0 30px;
}