@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "./animations.scss";
@import "./global.scss";
$purple-gradient: linear-gradient(225deg, #e374ff, #3d30ea);
$green-gradient: linear-gradient(225deg, #5af141, #2a9dce);
$blue-gradient: linear-gradient(135deg, #63e3dc, #1254c2);
$orange-gradient: linear-gradient(135deg, #ffb077, #b82698);
$sub-gradient: linear-gradient(
  41deg,
  rgb(3, 0, 68) 0%,
  rgba(78, 141, 179, 1) 40%,
  rgba(197, 60, 129, 1) 64%,
  rgba(0, 212, 255, 1) 100%
);
$darker: #1d1d1f;
$border-custom: 0.1vh solid rgba(131, 131, 131, 0.16);

.bg-black {
  background: $black;
}

.reset-all-padding {
  padding: 0 !important;
}

.reset-all-margin {
  margin: 0 !important;
}

.text-left-force {
  text-align: left !important;
}

.checked-icon {
  font-size: 2rem;
  color: $green;
  padding: 0 0.5rem;
}

.text-gray {
  color: rgb(194, 194, 194);
}

.spacer-mh-3 {
  min-height: ($spacer * 3);
}

.spacer-mh-20 {
  min-height: ($spacer * 20);
}

.spacer-mw-10 {
  min-width: ($spacer * 12);
}

.spacer-mxw-12 {
  max-width: ($spacer * 12);
}

.spacer-mxw-10 {
  max-width: ($spacer * 50);
}

.remove-text-decoration {
  text-decoration: none !important;
}

.min-vh-90 {
  min-height: 90vh !important;
}

.green-gradient {
  box-shadow: 1px 1px 5px 5px $green-gradient;
}

.welcome-section {
  position: relative;
  background: $darker;
  min-height: ($spacer * 40);
  z-index: 3;
  overflow: hidden;
  a {
    text-decoration: none;
  }
  &:before {
    background: $black url("../images/undraw_city_driver_re_0x5e.svg") no-repeat;
    background-size: 100rem;
    background-position: 25%;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.1;
    z-index: -1;
    filter: saturate(2) blur(3px);
    animation: carImage 2.5s;
    animation-direction: alternate;
  }

  .welcome-text {
    font-size: 4.5rem;
    margin: auto;
    z-index: 2;
    animation: header-text-animation 1s;
    animation-timing-function: ease;
  }

  .welcome-subtext {
    animation: header-text-animation 1s;
    animation-timing-function: ease;
  }
  .header-button {
    width: 15vh;
    height: 5vh;
    margin: 0 auto;
    font-size: 2vh;
    background-color: white;
    border: none;
    border-radius: 5px;
    animation: header-button;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    transition: 0.5s;
    cursor: pointer;

    .header-arrow {
      z-index: -2;
      transition: 0.5s;
      color: white;
      font-size: 1.5rem;
      position: absolute;
      transform: translateY();
      text-align: center;
    }

    &:hover {
      transform: scale(1.1);
      transition: 0.5s;
    }

    &:hover .header-arrow {
      transform: translateY(3rem) scale(1.5);
    }
  }
}

.navbar-main {
  top: 0;
  position: sticky;
  display: flex;
  justify-content: center;
  min-width: 100%;
  min-height: 5vh;
  background-color: rgba(29, 29, 31, 0.7);

  font-size: ($spacer * 1);
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.5s;
  backdrop-filter: blur(3px);
  font-smooth: antialiased;
  backdrop-filter: saturate(180%) blur(20px);
  margin: auto;
  padding: 0 3rem;
  z-index: 999;

  .navbar-name {
    margin-right: auto;
  }

  .nav-button {
    font-size: ($spacer * 1.5);

    color: white;
    background-color: transparent;
    background-size: 0% 100%;
    border: none;
    border-radius: 5px;
    min-width: ($spacer * 7.5);
    transition: 0.5s;
    opacity: 0.6;

    &:hover {
      cursor: pointer;
      transition: 0.5s;
      opacity: 1;
    }
  }
}

.nav-close:hover {
  cursor: pointer;
  transition: 0.5s;
  opacity: 1;
}
.offer {
  padding: 5rem 0 0 0 !important;
  > h1 {
    position: relative;
    font-size: 10rem;
    width: 80%;
    margin: auto;
    background: linear-gradient(
      340deg,
      rgb(202, 86, 96) 70%,
      rgba(255, 255, 255, 1) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .card-wrapper {
    min-width: 20rem;
    max-width: 70%;

    .custom-card {
      position: relative;
      background: #1d1d1f;
      min-width: 18rem;
      max-width: 22rem;
      min-height: ($spacer * 22);
      box-shadow: 1px 1px 5px 5px green inset;
      transform: scale(1.05);
      transform-style: preserve-3d;
      transition: 0.5s;
      z-index: 1;
      border: $border-custom;
      border-radius: 28px !important;
      box-shadow: $box-shadow;

      &::before {
        content: "";
        position: absolute;
        //background: $green-gradient;
        width: 90%;
        height: 90%;
        top: 1%;
        right: 0;
        bottom: 0;
        left: 5%;
        transform: translateZ(-1px);
        //box-shadow: inset 0 0 10px 12px $black, inset 0 0 30px 2px $black;
        filter: blur(20px);
      }

      // &:nth-child(1)::after {
      //   background: $green-gradient;
      //   height: 2rem;
      //   max-width: 100%;
      //   font-size: 1.5rem;
      //   font-family: $font-family-base;
      //   content: "Best choice";
      //   color: $black;
      //   text-align: center;
      //   position: absolute;
      //   top: 0;
      //   right: 0;
      //   left: 0;
      //   bottom: 0;
      //   transform: translateY(21.5rem);
      //   border-radius: 0 0 0 15px;
      //   box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.315);
      //   z-index: -1;
      // }

      &:nth-child(1)::before {
        content: "";
        position: absolute;
        background: $green-gradient;
        width: 90%;
        height: 90%;
        top: 1%;
        right: 0;
        bottom: 0;
        left: 5%;
        transform: translateZ(-1px);
        //box-shadow: inset 0 0 10px 12px $black, inset 0 0 30px 2px $black;
        filter: blur(20px);
      }

      &:nth-child(2)::before {
        content: "";
        position: absolute;
        // background: $orange-gradient;
        width: 90%;
        height: 90%;
        top: 1%;
        right: 0;
        bottom: 0;
        left: 5%;
        transform: translateZ(-1px);
        //box-shadow: inset 0 0 10px 12px $black, inset 0 0 30px 2px $black;
        filter: blur(20px);
      }

      &:nth-child(3)::before {
        content: "";
        position: absolute;
        //  background: $blue-gradient;
        width: 90%;
        height: 90%;
        top: 1%;
        right: 0;
        bottom: 0;
        left: 5%;
        transform: translateZ(-1px);
        //box-shadow: inset 0 0 10px 12px $black, inset 0 0 30px 2px $black;
        filter: blur(20px);
      }

      &:hover {
        transform: scale(1.1) translateY(-2rem);
        transition: 0.5s;
      }

      .custom-underline {
        position: relative;
        margin: -1rem 0 0 0;

        &::before {
          content: "";
          position: absolute;
          background: $green-gradient;
          height: 5rem;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: 2.3rem 0 0 0;
          clip-path: polygon(
            21% 14%,
            81% 14%,
            100% 0,
            100% 10%,
            80% 23%,
            21% 23%,
            0 10%,
            0 0
          );
        }
      }

      .separator {
        font-size: 1.2rem;
        border-bottom: 2px solid $green;
        padding: 0 0 0rem 0;
      }
    }
  }
}
.about-us {
  min-height: 50rem;
  padding: 20rem 0 0 0 !important;
  > h1 {
    position: relative;
    font-size: 10rem;
    width: 80%;
    margin: auto;
    padding: 5rem 0;
    background: linear-gradient(
      340deg,
      rgb(202, 86, 96) 70%,
      rgba(255, 255, 255, 1) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &::before {
      background: linear-gradient(
        325deg,
        rgb(202, 86, 96) 70%,
        rgba(255, 255, 255, 1) 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      position: absolute;
      content: "us";
      color: white;
      text-align: left;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: 10rem 0 0 15rem !important;
    }
  }
  .company-information {
    width: 90%;
    .company-description {
      display: grid;
      grid-auto-columns: 1fr;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      min-height: 25rem;

      .company-text {
        display: flex;
        align-items: center;
        background: $darker;
        min-height: 25rem;
        text-align: center;
        border-radius: 30px;
        font-size: 1.5rem;
        border: $border-custom;
      }

      .company-stats {
        .stat {
          min-width: 20rem;
          min-height: 10rem;
          margin: auto;
          font-size: 3rem;
          background: $darker;
          border-radius: 30px;
          border: $border-custom;
          overflow: hidden;
            >div{
              position: relative;
          
              transform: translateY(-.5rem);
            }
          p {
            background: rgb(255, 255, 255);
            background: linear-gradient(
              295deg,
              rgba(255, 255, 255, 1) 0%,
              rgba(153, 170, 255, 1) 37%,
              rgba(193, 110, 200, 1) 100%
            );
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            //transform: translateY(3rem);
          }
        }
      }
    }
  }
}

.inventory {
  min-height: 60rem;
  background: $black;
  overflow: hidden;
  padding: 15rem 0 0 0 !important;
  header {
    margin: auto;
    min-width: 30rem;
    max-width: 80%;

    .inv-text {
      font-size: 12rem;
      padding: 0;
      background: linear-gradient(
        340deg,
        rgb(202, 86, 96) 70%,
        rgba(255, 255, 255, 1) 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .subtext {
      font-size: 7rem;
      padding: 0;
      margin: -9rem 0 0 5rem;
      background: linear-gradient(
        335deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 64%,
        rgb(202, 86, 96) 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .img-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    img {
      min-width: 30%;
      max-width: 20rem;
      margin: auto;
    }
  }
}

.text-center-force {
  text-align: center !important;
}
.text-3{
margin: -3rem 0 0 0;
font-size: 1.5rem;
color: rgb(189, 189, 189);
font-weight: 300;
transform: translateY(-.5rem);
}
.text-2{
  font-size: 6rem;
}
.text-1 {
  font-size: 2.3rem;
  margin: 3.5rem 0 0 0;
}
@media screen and (max-width: 960px) {
  .company-description {
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: row !important;

    .company-stats {
      .stat {
        min-width: 18rem !important;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .inv-text {
    font-size: 10rem !important;
  }

  .subtext {
    font-size: 3.5rem !important;
    margin: -6rem 0 0 4rem !important;
  }
  .about-us {
    > h1 {
      font-size: 6rem;
      &::before {
        margin: 8rem 0 0 7.5rem !important;
      }
    }
  }
  .offer {
    > h1 {
      font-size: 4rem;
    }
  }
}
