@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import '../../node_modules/bootstrap-icons/font/bootstrap-icons.css';
$purple-gradient: linear-gradient(225deg,#e374ff,#3d30ea);
$green-gradient: linear-gradient(225deg,#5af141,#2a9dce);
$blue-gradient: linear-gradient(135deg,#63e3dc,#1254c2);
$orange-gradient: linear-gradient(135deg,#ffb077,#b82698);
$sub-gradient: linear-gradient(41deg, rgb(3, 0, 68) 0%, rgba(78,141,179,1) 40%, rgba(197,60,129,1) 64%, rgba(0,212,255,1) 100%);
.bg-black {
  background: $black;
}
html{
    scroll-behavior: smooth;
}
.reset-all-padding {
  padding: 0 !important;
}
.reset-all-margin {
  margin: 0 !important;
}
.text-left-force{
  text-align: left !important;
}
.bullet{
  
}
.test{ 
 
}
.header-button {
  width: 15vh;
  height: 5vh;
  margin: 0 auto;
  font-size: 2vh;
  background-color: white;
  border: none;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  .header-arrow {
  z-index: -2;
  transition: 0.5s;
  color: white;
  font-size: 1.5rem;
  position: absolute;
  transform:translateY();
  text-align: center;
}
  &:hover{
    transform: scale(1.1);
  transition: 0.5s;
  }
  &:hover .header-arrow{
     transform: translateY(3rem) scale(1.5);
  }
}

.checked-icon{
  font-size: 2rem;
  color: $green;
  padding: 0 .5rem;
}
.text-gray{
  color: rgb(194, 194, 194);
}
.spacer-mh-3 {
  min-height: ($spacer * 3);
}
.spacer-mh-20 {
  min-height: ($spacer * 20);
}
.spacer-mw-10 {
  min-width: ($spacer * 12);
}
.spacer-mxw-12{
  max-width: ($spacer * 12);
}
.spacer-mxw-10 {
  max-width: ($spacer * 50);
}
.remove-text-decoration {
  text-decoration: none !important;
}

.min-vh-90{
  min-height: 90vh !important;
}

.custom-card {
  position: relative;
  background: #1d1d1f;
  min-width: ($spacer * 18);
  max-width: ($spacer * 22);
  min-height: ($spacer * 22);
  box-shadow: 1px 1px 5px 5px green inset;
  transform: scale(1.05);
  transform-style: preserve-3d;
  transition: .5s;
  z-index: 1;
  border: 1px solid rgba(131, 131, 131, 0.16);
  border-radius: 28px !important;
  box-shadow: $box-shadow;
  &::before{
    content: '';
    position: absolute;
    //background: $green-gradient;
    width: 90%;
    height: 90%;
    top: 1%;
    right: 0;
    bottom: 0;
    left: 5%;
    transform: translateZ(-1px);
    //box-shadow: inset 0 0 10px 12px $black, inset 0 0 30px 2px $black;
    filter: blur(20px);
  }
  &:nth-child(1)::after{
    background: $green-gradient;
    height: 2rem;
    max-width: 5.5rem;
    font-family: $font-family-base;
    content: 'Best choice';
    color: $black;
    text-align: left;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 0 0 15px 0;
    box-shadow: 5px 5px 5px 5px  rgba(0, 0, 0, 0.315);
  z-index: -1;
  }
  &:nth-child(1)::before{
        content: '';
    position: absolute;
    background: $green-gradient;
    width: 90%;
    height: 90%;
    top: 1%;
    right: 0;
    bottom: 0;
    left: 5%;
    transform: translateZ(-1px);
    //box-shadow: inset 0 0 10px 12px $black, inset 0 0 30px 2px $black;
    filter: blur(20px);
  }
  &:nth-child(2)::before{
    content: '';
    position: absolute;
   // background: $orange-gradient;
    width: 90%;
    height: 90%;
    top: 1%;
    right: 0;
    bottom: 0;
    left: 5%;
    transform: translateZ(-1px);
    //box-shadow: inset 0 0 10px 12px $black, inset 0 0 30px 2px $black;
    filter: blur(20px);
  }
  &:nth-child(3)::before{
    content: '';
    position: absolute;
  //  background: $blue-gradient;
    width: 90%;
    height: 90%;
    top: 1%;
    right: 0;
    bottom: 0;
    left: 5%;
    transform: translateZ(-1px);
    //box-shadow: inset 0 0 10px 12px $black, inset 0 0 30px 2px $black;
    filter: blur(20px);
  }
  &:hover{
    transform: scale(1.1) translateY(-2rem);
    transition: .5s;
  }
  .custom-underline{
  position: relative;
  margin: -1rem 0 0 0;
  &::before{
    content: '';
    position: absolute;
    background: $green-gradient;
    height: 5rem;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 2.3rem 0 0 0 ;
    clip-path: polygon(21% 14%, 81% 14%, 100% 0, 100% 10%, 80% 23%, 21% 23%, 0 10%, 0 0);
  }
}
  .separator{
    border-bottom: 2px solid $green;
    padding: 0 0 1rem 0;
  }
}
.green-gradient{
  box-shadow: 1px 1px 5px 5px $green-gradient;
}
.welcome-section {
    position: relative;
    background: #1d1d1f;
  min-height: ($spacer * 40);
  z-index: 3 ;
  overflow: hidden;
  &:before {
    background: $black url("../images/undraw_city_driver_re_0x5e.svg")
      no-repeat;
    background-size: 100rem;
    background-position: 25%;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .1;
   z-index: -1 ;
    filter: saturate(2) blur(3px);
    animation: carImage 2.5s;
    animation-direction: alternate;
  }
  .welcome-text {
    font-size: 4.5rem;
    margin: auto;
    z-index: 2 ;
   animation: header-text-animation 1s;
   animation-timing-function: ease;
  }
  .welcome-subtext {
      animation: header-text-animation 1s;
      animation-timing-function: ease;
  }
}
.navbar-main {
  top: 0;
  position: sticky;
  display: flex;
  justify-content: center;
  min-width: 100%;
  min-height: 5vh;
  background-color: rgba(29, 29, 31, 0.7);
  
  font-size: ($spacer * 1);
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.5s;
  backdrop-filter: blur(3px);
  font-smooth: antialiased;
  backdrop-filter: saturate(180%) blur(20px);
  margin: auto;
  padding: 0 3rem;
  z-index: 999;
}

.navbar-name {
  margin-right: auto;
}

.nav-button {
  font-size: ($spacer * 1.5);

  color: white;
  background-color: transparent;
  background-size: 0% 100%;
  border: none;
  border-radius: 5px;
  min-width: ($spacer * 7.5);

  transition: 0.5s;
  opacity: 0.6;
}
.nav-button:hover,
.nav-close:hover {
  cursor: pointer;
  transition: 0.5s;
  opacity: 1;
}
::-webkit-scrollbar {
  background: $dark;
  width: 0.4rem;
}


::-webkit-scrollbar-thumb {
  background: $red;
  border-radius: 30px 0 0 30px;
}

@keyframes carImage {
  from{
  background-position: -200%;
  }
  to{
    background-position: 25%;
    
  }
}
@keyframes header-text-animation {
  from{
  transform: translateY(-100rem);
  }
  to{
   transform: translateY(0);
  }
}
@keyframes header-button {
  from{
    opacity: 0;
    transform: translateY(100rem);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}